/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	background-color: black;
}

.container {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 1024px;
	margin: 0 auto;
	padding: 20px 72px;
	/* border: 1px solid red; */
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	font-weight: bold;
	margin-bottom: 20px;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	color: grey;
}

.callToAction {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px 40px 0px;

}

.jumbotronLeft, .jumbotronRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotronLeft h1 {
	font-size: 5em;
	text-align: center;
}

.jumbotronLeft a {
	border: 1px solid black;
	padding: 10px 50px;
	text-decoration: none;
	color: black;
}

.twoColumns {
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-top: 1px solid black;
	padding: 20px 0px 30px 0px;
}

.twoColumn {
	padding: 5px;
}

.fullWidth img {
	width: 100%;
}

.threeColumns {
	display: flex;
	justify-content: space-between;
	padding: 30px 0px;
	border-bottom: 1px solid black;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	height: 120px;
	margin-bottom: 20px;
}

.footer {
	text-align: center;
	margin-bottom: 50px;
}

.servicesContainer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0px;
}

.service {
	border: 1px solid black;
	width: 420px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: #F4F3F4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.service a {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 50px;
	display: block;
	margin-top: 10px;
	text-decoration: none;
	font-size: 0.75em;
}

.factsSection {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.facts {
	width: 440px;
}

footer {
	text-align: center;
}

header h1 {
	font-size: 1.5em;
}

header {
	padding: 30px 0px;
}